data.db
test.py
__pycache__

database_part_0.db
database_part_1.db
database_part_2.db
database_part_3.db
database_part_4.db
database_part_5.db
database_part_6.db
database_part_7.db
database_part_8.db
database_part_9.db
database_part_10.db
database_part_11.db
database_part_12.db
/DatabaseMerger/DatabasesToMerge
/DatabaseMerger/Output

/keys
LocalAPI/node_modules
DBmanagement/DatabaseMerger
FutureFlaskServer
DBmanagement/output.json
DBmanagement/DatabaseMerger
data.db.db-journal